.DS_Store
.idea/
.env

/part3/Phonebook/node_modules/
/part3/Phonebook/.env
/part3/node_modules/
/part3/ClassWork/client/dist
part4/BlogList/node_modules
part5/bloglist-frontend/node_modules
part5/playwright/node_modules
part5/playwright/playwright-report/
part5/playwright/test-results/
part7/blog-list/frontend/node_modules
part7/blog-list/server/node_modules
node_modules