.DS_Store
.idea/
/part3/Phonebook/node_modules/
/part3/Phonebook/.env
/part3/node_modules/
/part3/ClassWork/client/dist
part4/BlogList/node_modules
Part5/bloglist-frontend/node_modules
Part5/playwright/node_modules
Part5/playwright/playwright-report/
Part5/playwright/test-results/
